$primary: rgb(246, 150, 114);
@import '~bootstrap/scss/bootstrap';

.card {
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 500px;
  max-width: 600px;
  padding: 20px;
  margin-left: 600px;
  height: 450px;
  // box-shadow: 0 18px 53px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.person-card-container {
  display: flex;
  justify-content: center;
}
.swipe {
  position: absolute;
}
